.tour-details {
    padding: 20px;
}

.tour-details h1 {
    text-align: left;
    color: black;
    margin-bottom: 20px;
}

.tour-info {
    display: flex;
    gap: 30px;
}

.tour-image img {
    max-width: 800px;
    border-radius: 10px;
}

.tour-summary p.price {
    font-size: 24px;
    color: #de2e2e;
    font-weight: bold;
    margin-bottom: 30px;
}

.book-now {
    width: 200px;
    padding: 10px 20px 15px 20px;
    background-color: #45C3D2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.book-now:hover {
    color: #ffc10e;
}

.tour-schedule {
    margin-top: 30px;
}

.tour-schedule h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.tour-detail p {
    text-align: justify;
}

.tour-summary #tour-introduction {
    text-align: justify;
    margin-bottom: 5px;
}

.tour-summary #tour-totalCosts {
    padding-top: 10px;
} 